<p>mi-primer-componente works!</p>
<h1>{{titulo}}</h1>
<!-- para ACCEDER A METDODO Y LAS PROPIEDADES DE LA CLASE-->
<!-- // vamos a usar la interpolacion de las dos llaves-->
<!--MOSTRAR HTML -->
<!-- Acceder a metodos y propiedades de clase -->

<img width="200px"
     height="200px"
     [src] ="imagen" alt="">
<!-- Propety Binding -->
<!-- [atributo] ="valor" ->Atributos -->
<!-- [evento] = "miFuncion ($event)" ->Evento -->


<p>{{textoImagen}}</p>

<!-- evento blur se ejeuta cuando sale del foco  -->
<!-- evento mouseeenter  todos los eventos van de on que omite   -->
<button (click) ="aumentarImagen()"
>
  {{textoButton}}

  </button>
