// Servicio es un singleton
// -> solo hay una instancia del servicio una sola

/*import {Injectable} from "@angular/core";

@Injectable({
  providedIn: 'root'
})
*/

