<ul> <!-- Unordered List -->
  <li>
    <a [routerLink]="['/inicio']"> <!-- Ancho/Ancla -->
      Inicio
    </a>
  </li>
  <li>
    <a [routerLink]="['/login']"><!-- Ancho/Ancla -->
      Login
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','usuarios']"><!-- Ancho/Ancla -->
      <!-- routerLink es un ARREGLO de SEGMENTOS URL  -->
      Gestion de usuarios
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','usuarios', 1,'gestion-libros']"><!-- Ancho/Ancla -->
      Gestion de libros
    </a>
  </li><!-- List Item -->
</ul>

<router-outlet></router-outlet>

<p>Pie de pagina</p>
