<ul> <!-- Unordered List -->
  <li>
    <a [routerLink] = "['/inicio']">
      Inicio
    </a>
  </li>
  <li>
    <a [routerLink] = "['/login']">
      Login
    </a>
  </li>
  <li>
    <a [routerLink] = "['/inicio','/gestion-usuarios']">
      Gestion de usuarios
    </a>
  </li>
  <li>
    <a [routerLink] = "['/inicio','/gestion-usuarios','/gestion-libros']">
      Gestion de Libros
    </a>
  </li>



<!--<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Correo</th>
    <th>Password</th>
  </tr>
  <tr>
    <td>Nicole</td>
    <td>Pirca</td>
    <td>a@a.com</td>
    <td>1234</td>
  </tr>
</table>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Correo</th>
    <th>Password</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let usuario of usuarios">
    <td>{{usuario.nombre}}</td>
    <td>{{usuario.apellido}}</td>
    <td>{{usuario.correo}}</td>
    <td>{{usuario.password}}</td>
    <td>
      <p-button label="EDITAR" (click)="editar(usuario)">
      </p-button>
      <p-button label="ELIMINAR" (click)="eliminar(usuario)">
      </p-button>
    </td>
  </tr>
</table>
<h1></h1>
-->

<router-outlet></router-outlet>
